<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/weatherApp/src/css/style.css" />
    <title>Wetter App</title>
  </head>
  <body>
    <div class="background-picture"></div>
    <div class="container">
      <header>
        <form action="#" class="form-search">
          <label for="search-city" class="label-hidden">Search-City</label>
          <input
            type="search"
            name="search-city"
            id="search-city"
            placeholder="Stadt eingeben"
          />
          <button type="submit" class="btn-search">Suchen</button>
        </form>
      </header>
    </div>
  </body>
</html>
